<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhao.dao.AppointMapper">
    <select id="getSeat"  parameterType="int" resultType="com.fuhao.pojo.Seat">
        select * from libseatmanage.libseat where isnull(num) and floor=#{floor};
    </select>

</mapper>