<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhao.dao.UserMapper">
    <select id="getUserList" resultType="user">
        select * from mybatis.user;
    </select>
<select id="getUserById" parameterType="int" resultType="user">
        select * from mybatis.user where id=#{id};
    </select>
<insert id="addUser" parameterType="user">
        insert into mybatis.user(id,name, password) values (#{id},#{name},#{password});
    </insert>
<delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id=#{id};
    </delete>
<update id="updataUser" parameterType="user" >
        update mybatis.user set name=#{name},password=#{password} where id=#{id};
    </update>
<select id="login" parameterType="user" resultType="user">
        select * from libseatmanage.user where name=#{name} and password=#{password}
    </select>
        </mapper>